/**
 * 个人简介样式文件
 */
@media (min-width: 375px) and (max-width: 425px) {
    #content-left{width: 100%;}
    #content-right{display: none;}
    #experience .experience-time{display: none;}
    #experience .experience-info{width: 90%;}
    #experience .experience-info .xs-experience-time{display: block !important;margin-top: 3px;}
}

@media (min-width: 425px) and (max-width: 768px) {
    #introduction-title {
        height: 400px;
        width: 80%;
    }
}

#content-right {
    position: fixed;
    top: 10px;
    right: 0px;
}

#introduction-nav {
    height: 240px;
}

/* 个人简介导航 旋转90度 */
#introduction-nav .progress {
    width: 240px;
    height: 10px;
    margin-bottom: 0px;

    transform: rotate(90deg);
    transform-origin: 0% 0%;

    -ms-transform: rotate(90deg); /* IE 9 */
    -ms-transform-origin: 0% 0%;

    -moz-transform: rotate(90deg); /* Firefox */
    -moz-transform-origin: 0% 0%;

    -webkit-transform: rotate(90deg); /* Safari and Chrome */
    -webkit-transform-origin: 0% 0%;

    -o-transform: rotate(90deg); /* Opera */
    -o-transform-origin: 0% 0%;
}

#introduction-nav .flag {
    position: absolute;
    width: 20px;
    height: 10px;
    left: 5px;
    z-index: 99;
    border-bottom-left-radius: 2px;
}

#introduction-nav .flag:before {
    border: solid transparent;
    content: ' ';
    height: 0px;
    width: 0px;
    left: 100%;
    position: absolute;
}

#introduction-nav .flag:before {
    border-width: 5px;
    border-left-color: #1c84c6;
    top: 0px;
}

#introduction-title {
    height: 400px;
}

#introduction-title .list-group-item {
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
}

#introduction-title .title {
    margin-left: 6px;
}

.nav-info {
    margin-bottom: 20px;
}

.nav-info .title {
    text-align: center;
    font-size: 40px;
}

.nav-info .subhead {
    text-align: center;
    font-size: 20px;
}

#education .time .time-line .time-point .outside {
    margin-left: 25px;
}
#education .time .time-line .edu-info{
    margin-top: 15px;
    margin-left: 20px;
    font-size: 16px;
}
#education .time .time-line:first-child .edu-info{
    margin-top: 5px;
}
#education .time .time-line:first-child .time-point:before {
    height: 60px;
}
#education .time .time-line:last-child .time-point:before {
    display: none;
}
#education .time .time-line:first-child .time-point {
    width: 40px;
    height: 40px;
    margin-top: 0px;
    margin-left: -20px;

    line-height: 40px;
    box-shadow: 0 0 0 2px rgb(255, 105, 104), inset 0px 0px 0px 3px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 0 0 2px rgb(255, 105, 104), inset 0px 0px 0px 3px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: 0 0 0 2px rgb(255, 105, 104), inset 0px 0px 0px 3px rgba(0, 0, 0, 0.08);
    -o-box-shadow: 0 0 0 2px rgb(255, 105, 104), inset 0px 0px 0px 3px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 0 0 2px rgb(255, 105, 104), inset 0px 0px 0px 3px rgba(0, 0, 0, 0.08);
}
#education .time .time-line:last-child .time-point {
    width: 40px;
    height: 40px;
    margin-left: -23px;

    line-height: 40px;
}

#experience .time .time-line{
    height: 250px;
}
#experience .time .time-line .time-point:before {
    height: 230px;
}
#experience .time .time-line:last-child .time-point:before {
    height: 20px;
}
#experience .experience-info{
    margin-left: 15px;
    margin-top: 30px;
}
#experience .experience-time span{
    display: inline-block;
    position: relative;
    top: 40px;
    right: 20px;
    text-align: center;
}


#skills .skill{
    margin-top: 20px;
}

#contact .contact-info p{
    margin-top: 30px;
    font-size: 16px;
}
#contact .contact-info p span{
    margin-right: 10px;
}
#contact .contact-message{
    margin-top: 20px;
}