
@media (min-width: 375px) and (max-width: 425px) {
    .logo-name{
        font-size: 120px;
        margin-left: 0px!important;
    }
}
@media (min-width: 425px) and (max-width: 768px) {
    .logo-name{
        font-size: 120px;
        margin-left: 0px!important;
    }
}
.logo-name{
    margin-left: -36%;

    /*设置文字无法被选中*/
    cursor: default;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
}