<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdtu.salesplatform.dao.TNewsMapper" >
  <resultMap id="BaseResultMap" type="com.cdtu.salesplatform.bean.TNews" >
    <result column="C_BH" property="cBh" jdbcType="CHAR" />
    <result column="C_NEW" property="cNew" jdbcType="VARCHAR" />
    <result column="D_ADDDATE" property="dAdddate" jdbcType="DATE" />
  </resultMap>
  <insert id="insert" parameterType="com.cdtu.salesplatform.bean.TNews" >
    insert into t_news (C_BH, C_NEW, D_ADDDATE
      )
    values (#{cBh,jdbcType=CHAR}, #{cNew,jdbcType=VARCHAR}, #{dAdddate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cdtu.salesplatform.bean.TNews" >
    insert into t_news
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cBh != null" >
        C_BH,
      </if>
      <if test="cNew != null" >
        C_NEW,
      </if>
      <if test="dAdddate != null" >
        D_ADDDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cBh != null" >
        #{cBh,jdbcType=CHAR},
      </if>
      <if test="cNew != null" >
        #{cNew,jdbcType=VARCHAR},
      </if>
      <if test="dAdddate != null" >
        #{dAdddate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
</mapper>