/**
 * 主页css样式文件
 */

/* 处理顶部导航栏固定后覆盖内容的问题 */
body {
    padding-top: 50px;
}
#nav-collapse{
    background-color: #1AB394;
    border-color: #1AB394;
}
#nav-collapse span{
    background-color: white;
}

#content iframe{
    min-height: 400px;
}

#footer {
    text-align: center;
    border: none;
    background-color: #fff;
    margin-top: 19px;
    margin-bottom: 0px;
}

#footer a{
    text-decoration-line: none;
    color: #000;
}